<?xml version='1.0' encoding='utf-8'?>
<widget id="com.torch2424.CrunchKey" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CrunchKey</name>
    <description>
        CrunchKey is a simple text calculator that works with a press of a key,
        and gives your answer INSTANTLY!
    </description>
    <author email="aaron@aaronthedev.com" href="http://aaronthedev.com/#/">
        Aaron Turner
    </author>
    <content src="index.html" />
    <access origin="*" />


 <platform name="ios">
     <icon src="images/CrunchKey.png" width="128" height="128"/>
 </platform>

 <platform name="android">
     <icon src="images/CrunchKey.png" width="128" height="128"/>
 </platform>


</widget>
